.earwig-bug {
  position: fixed;
  top: 0;
  left: 0;

  width: 90px;
  height: 90px;
  pointer-events: none;
  z-index: 999999;
  will-change: transform;
}

.earwig-sprite {
  display: block;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-drag: none;
}