* {
    margin: 0;
    padding: 0;
    font-family: 'Bookman Old Style', serif;
}


body {
    margin: 8px;
    background-color: #c3cdb1;
}

.header-container {
    width: 100%;
    height: 30vh;
    background-color:#9c9827;
    margin-bottom: 10px;
    border: 2px solid black;
    background-image: url("../assets/images/gazette_banner1.1.png");
}

.left-sidebar,
.right-sidebar {
    width: 200px;
    flex-shrink: 0;
}

.left-sidebar ul,
.right-sidebar ul {
    display: grid;
    place-items:center;
    grid-template-columns: 1fr;
    gap: 2rem;
    list-style: none;
    padding: 0;
    background-color: #b7b9a8;
    border: 2px solid #333; 
    
    outline: 2px solid #999;
    outline-offset: -4px; 
    
    box-shadow: inset 1px 1px 0px #fff, 2px 2px 0px #000;
}

.left-sidebar li,
.right-sidebar li {
    text-align: center;
}

.left-sidebar a,
.right-sidebar a {
    text-decoration: none;
}

.right-sidebar a {
    color: black;
}


.content {
    display: flex;
    gap: 15px;
}

main {
    flex: 1;
}

.main-container {
    width: 100%;
}

.comment-container {
    margin-top: 50px;
    padding-top: 20px;
    font-size: 0.9rem; 

    max-width: 1250px; 
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
}

.comment-entry {
    margin-bottom: 20px;
    line-height: 1.2; 
}

.comment-entry p {
    margin: 2px 0;
}

.paragraphs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}


.news-img {
  width: 50%;
  height: auto;
  align-self: center;
}

#signup-button {
    background-color: #808080;
    color: white;
    cursor: pointer;
}

.obituary-head {
    display: flex;
    align-items: center;
    gap: 20px;
}

.obituary-head img {
    width: 100px;
    height: 100px;
}

.obituary-head-text {
    display: flex;
    flex-direction: column;
}

.obituary-head-text h1,
.obituary-head-text h2 {
    margin: 0;
}

.obituary-head {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.obituary-body {
    margin-bottom: 35px;
}

.obituary-body + .obituary-head {
    border-top: 1px solid black;
    padding-top: 25px;
}

.obituary-body p {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    main {
        order: -1;
    }

    .header-container {
        height: 15vh;
    }

    .left-sidebar,
    .right-sidebar {
        width: 100%;
    }

    .left-sidebar ul,
    .right-sidebar ul {
        gap: 0.5rem;
        padding: 10px 0;
        margin-bottom: 15px;
    }

    .news-img {
        width: 100%;
        height:auto;
    }
}

#user-email::placeholder {
    text-align: center;
  }

  #user-email::-webkit-input-placeholder { text-align: center; }
  #user-email::-moz-placeholder { text-align: center; }
  #user-email:-ms-input-placeholder { text-align: center; }